
.header{
  width: 100%;
  height: 55px;
  padding: 10px 5%;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);

}
.header h2{
  font-size: 22px;
  color: black;
}
.header .menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.header .links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.header .links a{
  color: black;
  font-weight: 530;
  text-decoration: none;
  font-size: 17px;
}
.header .links a:hover{
  color: blue;
  font-weight: 650;
  font-size: 17px;
}
.header .links button{
  background: steelblue;
  color: black;
  padding: 5px 22px;
  border-radius: 4px;
  border: 2px solid steelblue;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}
.header .links .logout{
  background: blueviolet;
  color: black;
  padding: 5px 22px;
  border-radius: 4px;
  border: 2px solid blueviolet;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}
.header .links .logout:active{
  background: white;
  color: black;
  border: 2px solid white;
  font-weight: 500px;
}
.header .links button:active{
  background: white;
  color: black;
  border: 2px solid white;
  font-weight: 500;
}
.not-found-container{
  width: 100%;
  height: 450px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.not-found-container button{
  padding: 10px 20px;
  background: steelblue;
  border: 2px solid steelblue;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: 600;
  font-weight: 16px;
}
.active{
  color: blue !important ;
  font-weight: bold;
}
.login-container{
  width: 400px;
  padding: 20px 10px;
  margin: 90px auto;
  background: whitesmoke ;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.795);
}
.login-container .title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .title h2{
  color: steelblue;
  font-size: 25px;
}
.login-container form{
  width: 100%;
  height: 100%;
}
.login-container form .input-field{
  width: 100%;
  margin: 6px 0px;
}
.login-container form .input-field p{
  padding: 5px 0px;
  color: red;
  font-weight: 600;
  font-size: 14px;
}
.login-container form .input-field label{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.login-container form .input-field input{
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid black;
}
.login-container form button{
  width: 100%;
  margin-top: 25px;
  padding: 8px;
  outline: none;
  border: 2px solid steelblue;
  background: steelblue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
}
.login-container form button:active{
  color: steelblue;
  background: whitesmoke;
  border: 2px solid steelblue;
}




@media screen and (max-width: 768px) {
  .header .menu-icon {
    display: flex;
    color: black;
  }
  .header .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    background: rgba(255, 255, 255, 0.703);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .links.active {
    display: flex;
  }
  .links a {
    display: block;
    padding: 10px;
  }
  .links button {
    margin-top: 10px;
  }
}


@media screen and (max-width: 1024px) {
  .login-container {
      width: 80%;
      padding: 20px;
      margin: 50px auto;
  }

  .login-container .title h2 {
      font-size: 22px;
  }

  .login-container form .input-field input {
      font-size: 14px;
  }

  .login-container form button {
      font-size: 16px;
      padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
      width: 90%;
      padding: 15px;
      margin: 40% auto;
  }

  .login-container .title h2 {
      font-size: 20px;
  }

  .login-container form .input-field label {
      font-size: 14px;
  }

  .login-container form .input-field input {
      font-size: 13px;
      padding: 5px;
  }

  .login-container form button {
      font-size: 15px;
      padding: 8px;
  }
}